{% extends 'base.html' %}

{% load sidebar %}
{%block title%}
{{title}} :: {{block.super}}
{%endblock%}
{%load static%}


{% block content %}
<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="col-md-8">
                        <div class="blog-area">
                            {% if post.photo %}
                            <div class="blog-area-part">
                                <h2>{{post.title}}</h2>
                                <img src="{{ post.photo.url }}" width="620px" height="415px" alt="">
                                {% else %}
                                <img src="{% static 'static/ads.jpg' %}">
                                {% endif %}
                                <div class="single-content">
                                    <div>
                                        <span>Category: <a
                                                href="{{ post.category.get_absolute_url }}">{{post.category}}</a></span>
                                    </div>
                                    {% if post.tags.exists %}
                                    <span>
                                            Tags:
                                            {% for tag in post.tags.all %}
                                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }},</a>
                                            {% endfor %}
                                        </span>
                                    <br>
                                    <span>
                                        Views: {{ post.views }}
                                    </span>
                                    {%endif%}
                                    {{post.content|safe}}
                                </div>
                            </div>
                            {% if post.video %}
                                <video class="video-fluid" controls style="width: 50%; height: 50%;">
                                    <source src="{{post.video.url}}" type="video/mp4">
                                </video>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="button-group filters-button-group">
                            <button data-filter=".recent" class="button is-checked">Recent</button>
                            <button data-filter=".popular" class="button">popular</button>
                            <button data-filter=".users" class="button">Users</button>
                        </div>
                        <div class="newsletter">
                            <h2 class="sidebar-title">Search</h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" placeholder="Search">
                                <input type="submit" value="Search">
                            </form>
                        </div>

                        {% get_popular 3 %}
                        <div class="sidebar-ads">
                            <img src="img/sidebar-ads.jpg" alt="">
                            <p>Place For Your <br> Ad Banner</p>
                        </div>
                        <!--tags-->
                        {% get_tags %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}